._4t59{background-color:#fff;border-bottom:0;line-height:0}._3_xg{padding:0 24px 32px 24px}
.sp_V53xxlprDHX{background-image:url(/rsrc.php/v3/y3/r/Y6pKVjNGBeK.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:21px;width:21px}.sp_V53xxlprDHX.sx_25e0aa{background-position:0 0}.sp_V53xxlprDHX.sx_14fcf8{background-position:0 -22px}

#bootloader_JN31z{height:42px;}.bootloader_JN31z{display:block!important;}